@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --color-primary: #265166;
  --color-secondary: #547c90;
  --color-surface: #f6fafd;
  --color-peach: #f1dcd0;
  --color-mint: #d0f1e6;
  --color-sky: #bacfda;
  --color-dark: #1e3745;
  --color-charcoal: #414a4e;
  --color-coral: #ca4c44;
}
